body {
  margin: 0;
}

header {
  background-color: darkblue;
  /* Text color */
  color: white;
  padding: 5px;
}

section {
  background-color: MintCream;
  width: 50%;
  float: left;
  height: 300px;
}

/* Syle only this class */
.small-img {
  width: 200px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Only apply these styles to our nav */
nav li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}






